.Title {
  position: absolute;
  top: 0;
  left: 50%;
  color: #fafafa;
  margin: auto;
  background-color: #e8bfcb;
  width: 200px;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  border-radius: 0px 0px 5px 5px;
  transform: translate(-50%, 0%);
  box-shadow: 1px 1px 5px #eee;
}
