.About___image {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
  text-align: center;
  padding: auto;
  color: #306ec9;
}
.About___image > p {
  font-size: 12px;
  font-weight: 500;
}
.About___image > h3 {
  font-size: 18px;
  font-weight: 600;
  color: #7f7f7d;
  padding: 5px;
}
.react_icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  color: #508fed;
  margin-right: 5px;
}
.Stacks {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Stack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.Stack:last-child {
  border-bottom: none;
}
.Title {
  position: absolute;
  top: 0;
  left: 45%;
  display: block;
  color: #fafafa;
  margin: 0px auto;
  background-color: #f1dbba;
  width: 200px;
  padding: 50px 20px 20px 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  border-radius: 0px 0px 5px 5px;
}
.Topic {
  color: #f2f2f2;
  font-weight: bold;
  border-bottom: 5px solid #e8bfcb;
  border-radius: 5px;
  padding: 5px;
  margin: 15px auto;
  text-align: center;
  background-image: linear-gradient(to right, #306ec9, #c5dcff);
}
.Wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 80%;
  margin: auto;
}
.AboutContent {
  position: relative;
  height: auto;
  animation: Effect .5s ease-in-out;
}
@keyframes Effect {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.Content {
  flex: 60%;
  text-align: justify;
  font-weight: normal;
  color: black;
  padding: 20px;
}
.Content::first-letter {
  padding: 3px;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 5px;
  text-shadow: 2px 2px 2px #c8c8;
}
.Image {
  height: calc(250px + 6vw);
  width: calc(160px + 6vw);
  border: calc(8px + 0.2vw) solid #e8bfcb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
  border-radius: 30%;
  margin: auto;
}
@media screen and (min-width: 700px) and (min-height: 1000px) {
  .AboutContent{
    height: auto;
    animation: none;
  }
  .About___image {
    padding-top: 20px;
  }
  .Wrapper {
    width: 95%;
  }
}
@media screen and (max-width: 650px) and (max-height: 999px) {
  .AboutContent{
    height: auto;
    animation: none;
  }
  .Title {
    position: none;
    display: inline-block;
    color: #fafafa;
    margin: auto;
    width: 100px;
    padding: 25px 10px 10px 10px;
    letter-spacing: 1.5px;
    border-radius: 0px 0px 2.5px 2.5px;
  }
  .Wrapper {
    flex-flow: column;
    margin: 20px auto;
    padding-top: 25px;
    width: 95%;
  }
  .Content {
    padding: 15px;
  }
  .Image {
    height: 200px;
    width: 150px;
    border: 8px solid #e8bfcb;
    border-radius: 15%;
  }
}
